#bestseller{
    .products{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 50px;
        .box{
            img{
                width: 100%;
                height: 200px;
            }
            &:nth-child(1){
                grid-column: 1;
                grid-row: 1 / 3;
                img{
                    min-height: 500px;
                }
            }
           
        }
    }
}