* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

#header {
  width: 100%;
}
#header .nav-top {
  border-bottom: 1px solid #d9d9e0;
}
#header .nav-top .mycontainer {
  width: 70%;
  margin: auto;
  font-family: "Jost", sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  font-size: 13px;
}
#header .nav-top .mycontainer .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 43%;
}
#header .nav-top .mycontainer .left .social {
  display: flex;
  align-items: center;
  font-weight: 600;
}
#header .nav-top .mycontainer .left .social .social-text {
  margin: 0 5px;
}
#header .nav-top .mycontainer .left .shipping-info a {
  color: #ee403d;
  text-decoration: none;
}
#header .nav-top .mycontainer .right ul {
  display: flex;
}
#header .nav-top .mycontainer .right ul .items {
  list-style: none;
  margin-left: 10px;
  position: relative;
}
#header .nav-top .mycontainer .right ul .items a {
  text-decoration: none;
  color: #000;
}
#header .nav-top .mycontainer .right ul .items:hover .submenu {
  visibility: visible;
  opacity: 1;
}
#header .nav-top .mycontainer .right ul .items .submenu {
  transition: 0.5s ease;
  position: absolute;
  border: 1px solid #d9d9e0;
  min-width: 120px;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
}
#header .nav-top .mycontainer .right ul .items .submenu ul {
  display: flex;
  flex-direction: column;
}
#header .nav-top .mycontainer .right ul .items .submenu ul li {
  list-style: none;
  padding: 10px 15px;
}
#header .navbararea {
  padding: 20px 0;
  font-family: "Jost", sans-serif;
}
#header .navbararea .mycontainer {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .navbararea .mycontainer .logo {
  display: flex;
  width: 15%;
  justify-content: space-between;
  align-items: center;
}
#header .navbararea .mycontainer .logo .menu {
  font-size: 25px;
}
#header .navbararea .mycontainer .logo .myimage {
  width: 70%;
}
#header .navbararea .mycontainer .logo .myimage img {
  width: 100%;
}
#header .navbararea .mycontainer .search {
  width: 60%;
  display: flex;
  justify-content: center;
}
#header .navbararea .mycontainer .search button {
  background-color: #d9d9e0;
  border: none;
  padding: 5px 5px 5px 15px;
  font-size: 25px;
}
#header .navbararea .mycontainer .search input {
  height: 45px;
  background-color: #d9d9e0;
  border: none;
  outline: none;
  width: 100%;
}
#header .navbararea .mycontainer .search select {
  border: 1px solid #d9d9e0;
  background-color: #d9d9e0;
  outline: none;
  border-left: 1px solid #b9b9b9;
}
#header .infoList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10%;
  font-size: 20px;
}
#header .infoList .heart {
  position: relative;
}
#header .infoList .heart .top-icon {
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ee403d;
  color: #fff;
  border-radius: 9px;
  width: 16px;
  height: 16px;
  text-align: center;
}
#header .infoList .basket {
  position: relative;
}
#header .infoList .basket .top-icon {
  font-size: 14px;
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: #ee403d;
  color: #fff;
  border-radius: 9px;
  width: 16px;
  height: 16px;
  text-align: center;
}

@media (max-width: 1079px) {
  #header .nav-top {
    display: none;
  }
  #header .navbararea {
    display: none;
  }
}
#services .box {
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
}
#services .box .icon {
  font-size: 32px;
}
#services .box .serviceInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#bestseller .products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}
#bestseller .products .box img {
  width: 100%;
  height: 200px;
}
#bestseller .products .box:nth-child(1) {
  grid-column: 1;
  grid-row: 1/3;
}
#bestseller .products .box:nth-child(1) img {
  min-height: 500px;
}/*# sourceMappingURL=style.css.map */